body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FEF9EF;
}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
    font-family: 'Josefin Sans', sans-serif;
}

ul {
  list-style-type: none;
  text-align: center;
  list-style: none;
}

ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  background-color: #F79A78;
}

ul.nav li {
  float: left;
}

ul.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}

ul.nav li a:hover {
  background-color: #F46F3E;
}

button {
  background-color: #F46F3E;
  border: none;
  padding: 5px 10px;
  color: white
}

.form-button {
  background-color: #F46F3E;
  border: none;
  padding: 5px 10px;
  color: white;
  cursor: pointer;
}

.form-button:hover {
  background-color: #E7480D;
}

.li-recipe {
  width: auto;
  background-color: #FCEAC5; 
  display: flex;
  align-items: center;
  justify-content: center; 
  /* margin: 20px;      */
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 30px;
  margin-top: 30px;
  padding: 25px 25px;
}

.ul-recipe {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  text-align: left;
  /* padding-left: 10px; */
  margin-left: 0px;
  padding: 0px;
}

.recipe-header {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
  /* word-spacing: 30px; */
}

.recipe-user {
  display: flex;
  align-items: center;
  justify-content: center;
  /* justify-content: space-evenly; */
  padding-top: 10px;

  text-align: center;
}

.recipe-img-ing {
  display: flex;
  align-items: top;
  justify-content: center;
}

.ingredient-container {
  padding-left: 50px;
  text-align: left;
}

.recipe-item {
  align-items: center;
  justify-content: center;
}

h2 {
  text-align: center;
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0;
  padding: 0;
}

.app-title {
  color: #F46F3E
}

.ingredients-name {
  padding: 0px;
}

.recipe-form {
  padding-bottom: 50px;
}

.recipe-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 8px;
  padding-top: 15px;
}

.ingredient-form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20x;
}

.recipe-buttons {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}